@font-face {
    font-family: 'technique_ol_brknormal';
    src: url('techniqo-webfont.woff2') format('woff2'),
         url('techniqo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'technique_brknormal';
    src: url('techniqu-webfont.woff2') format('woff2'),
         url('techniqu-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rbno2_lightregular';
    src: url('rbno2light-webfont.woff2') format('woff2'),
         url('rbno2light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'rbno2_light_alternative_Rg';
    src: url('rbno2light_a-webfont.woff2') format('woff2'),
         url('rbno2light_a-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
